
main{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header {
    display: grid;
    background-color: #800080; 
    grid-column: 1/4;
    max-width: 100%;  
    
}
#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 10px 10px 10px;
    margin-top: 20px;
	background-color: #eee;
	color: #000;
 	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❌";
}
nav{
    text-align: center;
    grid-column: 1/4;
}

body{
    width: auto; margin: auto; background-color: aliceblue;
    display: grid;
    grid-template: auto 1fr auto /auto 1fr auto;
    font-size:40px ;
}

footer{
    justify-content: center;
    padding-top: 500px;
}
